<div style="position: relative">
  <div class="osem-create-campaign">
    <button>
      <a [routerLink]="['../create']" queryParamsHandling="merge"
        >{{ "CREATE NEW" | translate }}
        <i class="fa fa-duotone fa-plus"></i>
      </a>
    </button>
    <div>
      <div id="navbarBasicExample" class="navbar-menu">
        <div class="navbar-start filter-dropdown">
          <div class="navbar-item has-dropdown is-hoverable">
            <a class="navbar-link"> Filter </a>
            <div class="navbar-dropdown">
              <div class="nested navbar-item dropdown">
                <div class="dropdown-trigger">
                  <button
                    class="button"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                  >
                    <span>Priorität</span>
                    <span class="icon is-small" style="top: 10%">
                      <i
                        class="fas fa-sharp fa-solid- fa-angle-right"
                        aria-hidden="true"
                      ></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      <label for="priority_urgent">Urgent</label>
                      <input
                        type="checkbox"
                        name="priority_urgent"
                        id="priority_urgent"
                        value="Urgent"
                        [(ngModel)]="filterObject.priority.Urgent"
                      />
                    </div>
                    <div class="dropdown-item">
                      <label for="priority_high">High</label>
                      <input
                        type="checkbox"
                        name="priority_high"
                        id="priority_high"
                        value="High"
                        [(ngModel)]="filterObject.priority.High"
                      />
                    </div>
                    <div class="dropdown-item">
                      <label for="priority_medium">Medium</label>
                      <input
                        type="checkbox"
                        name="priority_medium"
                        id="priority_medium"
                        value="Medium"
                        [(ngModel)]="filterObject.priority.Medium"
                      />
                    </div>
                    <div class="dropdown-item">
                      <label for="priority_low">Low</label>
                      <input
                        type="checkbox"
                        name="priority_low"
                        id="priority_low"
                        value="Low"
                        [(ngModel)]="filterObject.priority.Low"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="nested navbar-item dropdown">
                <div class="dropdown-trigger">
                  <button
                    class="button"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                  >
                    <span>Zeit übrig</span>
                    <span class="icon is-small" style="top: 10%">
                      <i
                        class="fas fa-sharp fa-solid- fa-angle-right"
                        aria-hidden="true"
                      ></i>
                    </span>
                  </button>
                </div>
                <div class="dropdown-menu" id="dropdown-menu" role="menu">
                  <div class="dropdown-content">
                    <div class="dropdown-item">
                      <label for="timeleft_14"> < 14 Tage </label>
                      <input
                        type="checkbox"
                        name="timeleft_14"
                        id="timeleft_14"
                        value="14"
                        [(ngModel)]="filterObject.timeleft['14']"
                      />
                    </div>
                    <div class="dropdown-item">
                      <label for="timeleft_30"> < 30 Tage </label>
                      <input
                        type="checkbox"
                        name="timeleft_30"
                        id="timeleft_30"
                        value="30"
                        [(ngModel)]="filterObject.timeleft['30']"
                      />
                    </div>
                    <div class="dropdown-item">
                      <label for="timeleft_90"> < 90 Tage</label>
                      <input
                        type="checkbox"
                        name="timeleft_90"
                        id="timeleft_90"
                        value="90"
                        [(ngModel)]="filterObject.timeleft['90']"
                      />
                    </div>
                    <div class="dropdown-item">
                      <label for="timeleft_365"> < 365 Tage</label>
                      <input
                        type="checkbox"
                        name="timeleft_365"
                        id="timeleft_365"
                        value="365"
                        [(ngModel)]="filterObject.timeleft['365']"
                      />
                    </div>
                    <div class="dropdown-item">
                      <label for="timeleft_1000"> > 365 Tage</label>
                      <input
                        type="checkbox"
                        name="timeleft_1000"
                        id="timeleft_1000"
                        value="1000"
                        [(ngModel)]="filterObject.timeleft['1000']"
                      />
                    </div>
                  </div>
                </div>
              </div>
              <div class="nested navbar-item dropdown">
                <div class="dropdown-trigger">
                  <button
                    class="button"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                  >
                    <span>Entfernung</span>
                    <span class="icon is-small" style="top: 10%">
                      <i
                        class="fas fa-sharp fa-solid- fa-angle-right"
                        aria-hidden="true"
                      ></i>
                    </span>
                  </button>
                </div>
              </div>
              <div class="nested navbar-item dropdown">
                <div class="dropdown-trigger">
                  <button
                    class="button"
                    aria-haspopup="true"
                    aria-controls="dropdown-menu"
                  >
                    <span>Phänomene</span>
                    <span class="icon is-small" style="top: 10%">
                      <i
                        class="fas fa-sharp fa-solid- fa-angle-right"
                        aria-hidden="true"
                      ></i>
                    </span>
                  </button>
                </div>
              </div>
              <button class="modify-button filtern-button" (click)="filter()">
                Filtern
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <!-- <div class="select" style="float: left">
    <select
      id="priority-filter"
      name="priority-filter"
      class="input is-small"
      [(ngModel)]="prio"
    >
      <option disabled selected value>Filter nach Priorität</option>
      <option value="Urgent">Urgent</option>
      <option value="High">High</option>
      <option value="Medium">Medium</option>
      <option value="Low">Low</option>
    </select>
    <label for="timeleft-filter">Laufzeit der Kampagne</label>
    <select
      id="timeleft-filter"
      name="timeleft-filter"
      class="input is-small"
      [(ngModel)]="timeleft"
    >
      <option disabled selected value>Alle</option>
      <option value="14">Noch 14 Tage oder weniger</option>
      <option value="30">2 Wochen bis 1 Monat</option>
      <option value="90">1-3 Monate</option>
      <option value="365">3 Monate bis 1 Jahr</option>
      <option value="1000">1 Jahr oder mehr</option>
    </select>
  <select
    id="phenomena-filter"
    name="phenomena-filter"
    class="input is-small"
    [(ngModel)]="pheno"
  >
    <option hidden disabled selected value>Filter nach Phänomenen</option>
    <option value="Urgent">Urgent</option>
    <option value="High">High</option>
    <option value="Medium">Medium</option>
    <option value="Low">Low</option>
  </select> -->
  <!-- </div>
  <button
    class="modify-button"
    style="margin-top: 0.25rem"
    (click)="priorityfilter(prio); timeleftfilter(timeleft)"
  >
    Filter
  </button> -->
  <hr />
  <div style="float: right">
    <div style="text-align: right">
      <input
        type="text"
        id="searchbar"
        name="searchbar"
        placeholder="{{ 'SEARCH FOR CAMPAINGS' | translate }}"
        class="input is-small searchbar"
        [(ngModel)]="searchstring"
        (ngModelChange)="search(searchstring)"
      />
      <div class="field">
        <input
          id="showCampaignClusters"
          type="checkbox"
          name="showCampaignClusters"
          class="switch is-rounded is-info is-small is-rtl"
          (click)="switchCampaignClusters()"
        />
        <label for="showCampaignClusters">Campaign Clusters</label>
      </div>
    </div>
    <!-- <button
      class="modify-button"
      style="text-align: right; float: right; margin-top: 0.25rem"
      (click)="search(searchstring)"
    >
      {{ "SEARCH FOR CAMPAIGNS" | translate }}
    </button> -->
  </div>

  <section
    class="section"
    style="margin-top: 15%"
    *ngFor="let campaign of searchedCampaigns$ | async; let i = index"
  >
    <div class="item-container">
      <div class="img-container">
        <img src="https://i.stack.imgur.com/WpMdM.png" alt="Location map" />
        <div class="course-details">
          <!-- <p class="date">Starting {{ campaign.startDate }}</p>
        <p class="date">Ending {{ campaign.endDate }}</p> -->
          <p>{{ calculateCampaignTimeLeft(campaign.endDate) }}</p>
        </div>
      </div>
      <div
        class="priority-container"
        [ngClass]="{
          urgent: campaign.priority === 'Urgent',
          high: campaign.priority === 'High',
          medium: campaign.priority === 'Medium',
          low: campaign.priority === 'Low'
        }"
      >
        <i class="fa fa-thin fa-clock"></i>
        <p>{{ campaign.priority }}</p>
      </div>
      <div class="separator"></div>
      <div class="course-info">
        <p class="title">{{ campaign.title }}</p>
        <p class="description">{{ campaign.description }}</p>
        <!-- <p class="sub-title">Id is {{ campaign._id }}</p> -->
        <div class="progress-container">
          <progress
            class="progress is-small is-primary"
            value="{{ campaign.participantCount }}"
            max="100"
          ></progress>
          <p *ngIf="campaign.participantCount === 1; else mitwirkende">
            1 Mitwirkender insgesamt
          </p>
          <ng-template #mitwirkende>
            {{ campaign.participantCount }} Mitwirkende insgesamt
          </ng-template>
        </div>
        <div>
          <button
            class="modify_button"
            [ngClass]="{ active: view_update === 'ac_' + i }"
            (click)="
              showUpdateForm(campaign);
              changeUpdate('ac_' + i);
              clickToZoom(campaign.polygonDraw)
            "
          >
            Update
          </button>
          <button class="modify_button" (click)="joinCampaign(campaign)">
            Join
          </button>
          <button class="danger_button" (click)="deleteCampaign(campaign._id)">
            Delete
          </button>
        </div>
        <div
          class="icon"
          [ngClass]="{ active: view_ac === 'ac_' + i }"
          (click)="
            changeAccordion('ac_' + i);
            showUpdateForm(campaign);
            clickToZoom(campaign.polygonDraw)
          "
        >
          <i class="fas fa-arrow-circle-up"></i>
        </div>
      </div>
    </div>
    <div
      class="content-container"
      [ngClass]="{ active: view_ac === 'ac_' + i }"
      *ngIf="view_ac === 'ac_' + i"
    >
      <form (ngSubmit)="updateCampaign(updateForm)" #updateForm="ngForm">
        <div>
          <label for="title">Campaign Title</label><br />
          <input
            type="text"
            id="title"
            name="title"
            class="input is-small"
            required
            [disabled]="view_update !== 'ac_' + i"
            [(ngModel)]="campaignToBeUpdated.title"
            (ngModelChange)="search($event)"
            style="width: 400px"
          />
        </div>
        <div>
          <label for="polygonDraw">Campaign Polygon</label><br />
          <input
            type="text"
            id="polygonDraw"
            name="polygonDraw"
            class="input is-small"
            required
            [disabled]="view_update !== 'ac_' + i"
            [(ngModel)]="campaignToBeUpdated.polygonDraw"
            style="width: 400px"
          />
        </div>
        <div class="form-group">
          <label for="startDate"
            >Campaign StartDate {{ campaignToBeUpdated.startDate }}</label
          ><br />
          <input
            type="date"
            id="startDate"
            name="startDate"
            class="input is-small"
            required
            [disabled]="view_update !== 'ac_' + i"
            (ngModelChange)="formatStartdate($event)"
            [ngModel]="campaignToBeUpdated.startDate"
            style="width: 400px"
          />
        </div>
        <div class="form-group">
          <label for="endDate"
            >Campaign Enddate {{ campaignToBeUpdated.endDate }}</label
          ><br />
          <input
            type="date"
            id="endDate"
            name="endDate"
            min="{{ campaignToBeUpdated.startDate }}"
            class="input is-small"
            required
            [disabled]="view_update !== 'ac_' + i"
            (ngModelChange)="formatEnddate($event)"
            [ngModel]="campaignToBeUpdated.endDate"
            style="width: 400px"
          />
        </div>
        <!-- <div class="select is-multiple">
          <label for="phenomena">Campaign Phenomena</label><br />
          <select
            multiple
            size="10"
            id="phenomena"
            name="phenomena"
            class="input is-small"
            required
            [disabled]="view_update !== 'ac_' + i"
            [(ngModel)]="campaignToBeUpdated.phenomena"
          >
            <option
              *ngFor="let one of phenomena | async"
              [value]="one.phenomenonLabel[0].value"
            >
              {{ one.phenomenonLabel[0].value }}
            </option>
          </select>
        </div> -->
        <br />
        <button
          class="modify_button"
          [disabled]="updateForm.invalid || view_update !== 'ac_' + i"
          type="submit"
        >
          Save
        </button>
      </form>
    </div>
  </section>
</div>
