<section class="section" *ngFor="let campaign of allCampaigns$ | async;let i = index;">
<div class="item-container">
  <div class="img-container">
      <img src="https://i.stack.imgur.com/WpMdM.png" alt="Location map">
      <div class="course-details">
          <p class="date">
              Starting {{ campaign.startDate }}
          </p>
          <p class="price">
              Ending {{ campaign.endDate }}
          </p>
    
      </div>
  </div>
  <div class="separator"></div>
  <div class="course-info">
      <p class="title">{{ campaign.title }}</p>
      <p class="sub-title">{{ campaign.owner}}</p>
      <div class="title-separator"></div>
       
      
      <!--><a href="#" class="more-info">More info</a><-->


  
  <ng-container *ngIf="loggedIn$ | async">
    <button (click)="deleteCampaign(campaign._id)" style="width: 75px">Delete</button>
    <button (click)="showUpdateForm(campaign)" style="width: 75px">Update</button>
    <button (click)="joinCampaign(campaign)" style="width: 50px">Join</button>
  </ng-container>

  <div class="icon" [ngClass]="{'active': view_ac === 'ac_'+i}" (click)="changeAccordion('ac_'+i)">
    <i class="fas fa-arrow-circle-up"></i>
  </div>
  <div *ngIf="view_ac === 'ac_'+i" class="item-container">
    magna ac placerat vestibulum lectus mauris ultrices eros in cursus turpis massa tincidunt dui ut ornare lectus sit amet est placerat in egestas erat imperdiet
  </div> 

  <div *ngIf="isUpdateActivated">

    <h4>Update Campaign</h4>

    <form (ngSubmit)="updateCampaign(updateForm)" #updateForm="ngForm">

         <div class="form-group">

          <label for="title">Campaign Title</label> 

           <input 

             type = "text"

             id="title"

             name="title"

             class ="form-control"

             required

             [(ngModel)]="campaignToBeUpdated.title"

             style = "width:400px"/>
             
          </div>

                   
         <div class="form-group">

          <label for="aboutMe">Campaign AboutMe</label> 

          <input 

            type = "text"

            id="aboutMe"

            name="aboutMe"

            class ="form-control"

            required

            [(ngModel)]="campaignToBeUpdated.aboutMe"

            style = "width:400px"/>

        </div>
        <div class="form-group">

          <label for="campaignGoals">Campaign Goals</label> 

          <input 

            type = "text"

            id="campaignGoals"

            name="campaignGoals"

            class ="form-control"

            required

            [(ngModel)]="campaignToBeUpdated.campaignGoals"

            style = "width:400px"/>

        </div>
        
        <div class="form-group">

          <label for="details">Campaign Details</label> 

          <input 

            type = "text"

            id="campaignDetails"

            name="campaignDetails"

            class ="form-control"

            required

            [(ngModel)]="campaignToBeUpdated.campaignDetails"

            style = "width:400px"/>

        </div>
        
        <div class="form-group">

          <label for="startDate">Campaign StartDate</label> 
          

          <input 

            type = "date"

            id="startDate"

            name="startDate"

            class ="form-control"

            required
            
            (ngModelChange)="formatStartdate($event)"

            [ngModel]="campaignToBeUpdated.startDate"

            style = "width:400px"/>

        </div>
        <div class="form-group">

          <label for="endDate">Campaign Enddate</label> 

          <input 

            type = "date"

            id="endDate"

            name="endDate"

            class ="form-control"

            required

            (ngModelChange)="formatEnddate($event)"

            [ngModel]="campaignToBeUpdated.endDate"

            style = "width:400px"/>

        </div>
        <div class="select is-multiple">

          <label for="phenomena">Campaign Phenomena</label> 

          <select

            multiple

            size="10"

            id="phenomena"

            name="phenomena"

            required

            [(ngModel)]="campaignToBeUpdated.phenomena">

          <option *ngFor="let one of phenomena | async"
          
                  [value]="one.phenomenonLabel[0].value">{{one.phenomenonLabel[0].value}}
          </option>
        </select>

        </div>

        
        <br>








         <button [disabled]="updateForm.invalid" type="submit">Update</button>

    </form>

  </div>
  </div>
  </div>
</section>

