<aside class="viewer">
    <div *ngIf="areNotificationsLoaded">
      <div *ngFor="let notification of notifications" class="notification">
        <div *ngIf="notification.type=='threshold'">
          <div class="notification-time">{{ notification.timeText }}</div>
          <div class="threshold-title">
            Notification Rule triggered!
          </div>
          <div class="notification-text"> 
            <b>{{ notification.sensors[0].title }}</b> is {{ notification.activationOperator }}
            <div style="display: inline" *ngIf="notification.activationOperator!='unusual'">
               <b>{{ notification.activationThreshold }} {{ notification.sensors[0].unit }}</b>
            </div>.
          </div>
          <div class="notification-subtext">
            Sensor "{{ notification.sensors[0].title }}" of <a (click)="boxDetails(notification.box._id)">{{ notification.box.name }}</a> measured <b>{{ notification.notificationValue }} {{ notification.sensors[0].unit }}</b>.
          </div>
        </div>
  
        <div *ngIf="notification.type=='connector'">
          <div class="notification-time">{{ notification.timeText }}</div>
          <div class="threshold-title">
            Rule Connector triggered!
          </div>
          <div class="notification-text"> 
            <div style="display: inline" *ngIf="notification.connectionOperator!='xor'">
              <b>{{ notification.sensorsA[0].title }}</b> is {{ notification.activationOperatorA }}
              <div style="display: inline" *ngIf="notification.activationOperatorB!='unusual'">
                <b>{{ notification.activationThresholdA }} {{ notification.sensorsA[0].unit }}</b>
              </div> 
              {{ notification.connectionOperator }} 
              <b>{{ notification.sensorsB[0].title }}</b> is {{ notification.activationOperatorB }}
              <div style="display: inline" *ngIf="notification.activationOperatorB!='unusual'">
                <b>{{ notification.activationThresholdB }} {{ notification.sensorsB[0].unit }}</b>
              </div>.
            </div> 
            <div style="display: inline" *ngIf="notification.connectionOperator=='xor'">
              Either 
              <b>{{ notification.sensorsA[0].title }}</b> is {{ notification.activationOperatorA }}
              <div style="display: inline" *ngIf="notification.activationOperatorA!='unusual'">
                <b>{{ notification.activationThresholdA }} {{ notification.sensorsA[0].unit }}</b>
              </div> 
              or 
              <b>{{ notification.sensorsB[0].title }}</b> is {{ notification.activationOperatorB }}
              <div style="display: inline" *ngIf="notification.activationOperatorB!='unusual'">
                <b>{{ notification.activationThresholdB }} {{ notification.sensorsB[0].unit }}</b>
              </div>.
            </div>
          </div>
          <div class="notification-subtext">
            Sensor "{{ notification.sensorsA[0].title }}" of <a (click)="boxDetails(notification.boxA._id)">{{ notification.boxA.name }}</a> measured <b>{{ notification.notificationValueA }} {{ notification.sensorsA[0].unit }}</b>. <br/>
            Sensor "{{ notification.sensorsB[0].title }}" <a (click)="boxDetails(notification.boxA._id)">{{ notification.boxB.name }}</a> measured <b>{{ notification.notificationValueB }} {{ notification.sensorsB[0].unit }}</b>. <br/>
          </div>
        </div>
      
        <div *ngIf="notification.type=='notification-rule'">
          <div class="rule-title">
            Created a notification rule
          </div>
          You cretated a notification rule for <b>'{{notification.sensorTitle}}'</b> of <b>'{{notification.boxName}}'</b>.
        </div>
      </div>
    </div>
  </aside>